{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav>
    <div>
        <a href="{% url 'home' %}">Homepage</a>
        <a href="{% url 'articles:list' %}">Article list</a>
        <a href="{% url 'about' %}">About</a>
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
    <div>
        <a href="{% url 'accounts:login' %}">Login</a>
        <a href="{% url 'accounts:signup' %}">Sign up</a>
    </div>
{% endif %}
</nav>

<div class="main-content">
    {% block content %}{% endblock %}
</div>
</body>
</html>